.button {
  display: block;
  margin: 0;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-family: $montserrat;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  text-align: center;

  background-color: $primary-500;

  &:hover,
  &:focus {
    background-color: $primary-400;
  }

  &:active {
    background-color: $primary-600;
  }

  &:disabled {
    background-color: $grey-500;
  }
}

.button--submit {
  padding: 10px 14px;
  font-size: 13px;

  @media (min-width: $medium) {
    padding: 8px 4px;
  }

  @media (min-width: $large) {
    padding: 10px 8px;
  }
}

.button--reset {
  padding: 10px 14px;
  font-size: 14px;
  color: $primary-500;

  background-color: $white;

  @media (min-width: $large) {
    padding: 10px 8px;
  }

  &:disabled {
    background-color: $grey-400;
  }
}

.button--icon {
  padding: 8px 20px 8px 46px;
  font-size: 14px;
  line-height: 20px;

  background-image: url("../../img/icons/stack.svg#basket-add");
  background-size: 20px 16px;
  background-repeat: no-repeat;
  background-position: left 20px center;
}
