.contacts__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: $primary-500;
}

.contacts__address {
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: $black;
}

.contacts__tel {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: $black;
}
