.footer {
  @media (min-width: $large) {
    display: grid;
    grid-template-columns: 348px 1fr;

    padding: 41px 40px 40px;
  }
}

.footer__title {
  font-size: 14px;
  line-height: 20px;
}

.footer__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 18px;

  border-bottom: 1px solid $secondary;

  @media (min-width: $medium) {
    padding: 42px 20px 20px;
    border-bottom: none;
  }

  @media (min-width: $large) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    gap: 51px;

    padding: 0;
  }
}

.footer__menu-wrapper {
  @media (min-width: $medium) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    padding: 6px 20px 0;
  }

  @media (min-width: $large) {
    padding: 0;
  }
}

.footer__copyright {
  @media (min-width: $large) {
    grid-column: 1 / -1;
  }
}
