.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $medium) {
    padding: 0 20px;
  }

  @media (min-width: $large) {
    padding: 0 40px;
  }
}

.header__nav {
  @media (max-width: ($medium - 1px)) {
    width: 100%;
    order: 2;
  }
}
