.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $medium) {
    padding: 0 20px;
  }

  @media (min-width: $large) {
    padding: 0 40px;
  }
}

.header__nav {
  @media (max-width: ($medium - 1px)) {
    position: absolute;
    top: 60px;
    width: 100%;
    order: 2;
    background-color: $white;
    z-index: 2;
  }

  @media (min-width: $medium) {
    max-width: 400px;
  }

  @media (min-width: $large) {
    max-width: 550px;
  }
}

.header__user-menu {
  @media (max-width: ($medium - 1px)) {
    max-width: 200px;
  }

  @media (min-width: $large) {
    min-width: 241px;
  }
}

// без js = кнопки нет, меню открыто в потоке
.header--no-js .header__nav {
  position: static;
}

.header--no-js .user-menu__toggle {
  display: none;
}

// js должен убирать header--closed и добавлять к кнопке user-menu__toggle--close = меню открыто + кнопка-крестик показана
// при закрытом меню кнопка-крестик скрыта
.header--closed .user-menu__toggle--close {
  display: none;
}

// при закрытом меню кнопка-бургер показана
@media (max-width: ($medium - 1px)) {
  .header--closed:not(.header--no-js) .user-menu__toggle {
    display: block;
  }

  .header--closed:not(.header--no-js) .header__nav {
    display: none;
  }
}
