.menu__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: $primary-500;
}

.menu__link {
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
}
