.menu {
  padding: 20px 20px 8px;
  border-bottom: 1px solid $secondary;

  @media (min-width: $medium) {
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: $large) {
    padding: 10px 0 0 0;
  }
}

.menu__title {
  margin: 0 0 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $primary-500;
}

.menu__link {
  display: block;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;

  &:hover,
  &:focus {
    color: $primary-400;
    border: none;
    outline: none;
  }

  &:active {
    color: $primary-600;
  }
}

.menu__address {
  margin-bottom: 16px;
  padding-left: 19px;

  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: $black;

  background-image: url("../../img/icons/stack.svg#point");
  background-repeat: no-repeat;
  background-size: 13px 16px;
}

.menu__tel {
  display: block;
  padding-left: 19px;
  margin-bottom: 14px;

  font-size: 14px;
  line-height: 20px;
  color: $black;

  background-image: url("../../img/icons/stack.svg#tel");
  background-repeat: no-repeat;
  background-size: 13px 16px;

  &:hover {
    color: $primary-400;
  }

  &:focus,
  &:active {
    color: $primary-600;
    border: none;
    outline: none;
  }
}
