.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $medium) {
    justify-content: flex-end;
    gap: 20px;
  }
}

.pagination__button {
  display: grid;
  place-content: center;

  min-width: 40px;
  height: 40px;

  font-family: $montserrat;
  font-size: 16px;
  line-height: 24px;
  color: $primary-500;
  border-radius: 4px;
  background-color: $white;

  @media (min-width: $medium) {
    svg {
      display: none;
    }
  }

  &:hover:not(.pagination__button--current),
  &:focus:not(.pagination__button--current) {
    color: $white;
    background-color: $primary-400;
    border: none;
    outline: none;
  }

  &:active:not(.pagination__button--current) {
    color: $white;
    background-color: $primary-600;
  }

  &:disabled:not(.pagination__button--current) {
    color: $white;
    background-color: $grey-400;
  }
}

.pagination__button--current {
  font-weight: 600;
  color: $black;
  background-color: transparent;
}

.pagination__button-text {
  display: none;

  @media (min-width: $medium) {
    display: block;
    padding: 8px 20px;
  }
}
