.social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.social__link {
  display: grid;
  place-content: center;
  width: 48px;
  height: 40px;
  padding-bottom: 4px;
  border-radius: 4px;
  color: $grey-500;

  &:hover,
  &:focus {
    color: $primary-500;
    background-color: $secondary;
  }

  &:active {
    background-color: $primary-700;
  }
}
