.user-menu {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $large) {
    gap: 20px;
  }
}

.user-menu__link {
  display: grid;
  place-content: center;
  width: 60px;
  height: 60px;
  cursor: pointer;

  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $medium) {
    height: 80px;
  }

  @media (min-width: $large) {
    width: 112px;
    place-content: center;
    grid-template-columns: min-content min-content;
    column-gap: 8px;
  }

  &:hover {
    color: $primary-500;
  }

  &:focus,
  &:active {
    background-color: $secondary;

    border: none;
    outline: none;

    @media (max-width: ($medium - 1px)) {
      color: $black;
    }
  }
}

.user-menu__link-text {
  @media (max-width: ($large - 1px)) {
    display: none;
  }
}

.user-menu__toggle {
  position: relative;

  width: 60px;
  height: 60px;
  padding: 0;
  border: none;

  background-color: inherit;
  cursor: pointer;

  @media (min-width: $medium) {
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $secondary;
    border: none;
    outline: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    right: 22px;
    height: 1.5px;
    width: 16px;

    background-color: $black;
    box-shadow: 0 5px 0 0 $black, 0 10px 0 0 $black;
  }
}

.user-menu__toggle--close {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 29px;
    right: 21px;
    width: 17px;
    height: 2px;

    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }
}

// .user-menu__item {
//   @media (min-width: $large) {
//     &:first-child {
//       margin-left: -20px;
//     }
//   }
// }
