$white: #ffffff;
$black: #333333;
$flat-white: #f3ebe1;
$lavander: #eae6fc;
$espresso: #e5e6e8;

$grey-300: #f8f8f8;
$grey-400: #e2e2e2;
$grey-500: #bdbdbd;

$primary-400: #9070ec;
$primary-500: #7859cf;
$primary-600: #593cac;
$primary-700: rgba(120, 89, 207, 0.25);

$secondary: #f0ebff;

$small: 320px;
$medium: 768px;
$large: 1300px;

$montserrat: "Montserrat", "Arial", sans-serif;
